/* You can add global styles to this file, and also import other CSS files */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f5f5f5;
  }
  
  h2 {
    color: #333;
  }
  
  button {
    cursor: pointer;
  }
  